/*Liz Mahoney & Jacob Langham
 * 11/1/2017
 * hike.css
 * This is a hike css file
 */

.root{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #338f41),
            linear-gradient(#41b74a, #263e75),
            linear-gradient(#26ab82, #aef837);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-font-weight: 300;
}

#form-label{
    -fx-pref-width: 80;
    -fx-alignment: center-right;
}

#form-field{
    -fx-pref-width: 180px;
    -fx-pref-height: 40;
}

#padding10{
    -fx-spacing: 10px;

}

#formButton{
    -fx-spacing: 10px;
    -fx-pref-width: 100;
    -fx-alignment: center-right;
}

#menuFrame{
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}
.menu-button{
    -fx-padding: 10px;
    -fx-background-color: transparent ;
    -fx-border-color: #26ab82;
    -fx-pref-width: 175px;
    -fx-alignment: center-left;
}

.menu-button:hover{
    -fx-background-color: #ffffff;
}

.menu-button:pressed {
    -fx-background-color: #FF5037;

}

#mainFrame{
    -fx-padding: 10px;
}

#headingFrame{
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-max-width: inherit;
    -fx-border-color: black ;
    -fx-border-style: solid;
    -fx-font:  bold italic 20pt "Verdana";
}

#bodyFrame{
    -fx-padding: 10px;
    -fx-pref-height: 400px;
    -fx-border-color: black ;
    -fx-border-style: solid;
}
#footerFrame{
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-max-width: inherit;
    -fx-border-color: black ;
    -fx-border-style: solid;
}

#reminder-message{
    -fx-font: bold italic 20pt "Tahoma";
    -fx-effect:  innershadow(gaussian, rgba(6, 10, 104, 0.97), 10, 1.0, 100, 100);


}







