/*Liz Mahoney & Jacob Langham
 * 11/1/2017
 * hike.css
 * This is a hike css file
 */

.root{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #338f41),
            linear-gradient(#41b74a, #263e75),
            linear-gradient(#26ab82, #f6f8ec);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-font-weight: 300;
}

.menu-button{
    -fx-padding: 2px;
    -fx-background-color: transparent ;
    -fx-border-color: #26ab82;
}

.menu-button:hover{
    -fx-background-color: #ffffff;
}

.menu-button:pressed {
    -fx-background-color: #FF5037;

}

#mainBox{
    -fx-padding: 10px;

}

#headingBox{
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-max-width: inherit;
    -fx-border-color: black ;
    -fx-border-style: solid;
    -fx-font:  bold italic 20pt "Verdana";
}



#bodyBox{
    -fx-padding: 10px;
    -fx-max-width: inherit;
    -fx-border-color: black ;
    -fx-border-style: solid;
}
#footerBox{
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-max-width: inherit;
    -fx-border-color: black ;
    -fx-border-style: solid;
}

#reminder-message{
    -fx-font: bold italic 20pt "Tahoma";
    -fx-effect:  innershadow(gaussian, rgba(6, 10, 104, 0.97), 10, 1.0, 100, 100);


}







